In [12]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori


dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

N = len(dataset)

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets['Abs_support'] = frequent_itemsets.support * N
frequent_itemsets

    support                     itemsets  Abs_support
0       0.8                       (Eggs)          4.0
1       1.0               (Kidney Beans)          5.0
2       0.6                       (Milk)          3.0
3       0.6                      (Onion)          3.0
4       0.6                     (Yogurt)          3.0
5       0.8         (Eggs, Kidney Beans)          4.0
6       0.6                (Eggs, Onion)          3.0
7       0.6         (Milk, Kidney Beans)          3.0
8       0.6        (Kidney Beans, Onion)          3.0
9       0.6       (Yogurt, Kidney Beans)          3.0
10      0.6  (Eggs, Kidney Beans, Onion)          3.0