In [20]:
import sys; sys.path.append('../../src/helpers')
from data_manipulation import data
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
import pandas as pd
import re

## Setup

In [2]:
books = data.loadAndClean('../../data/booksummaries/booksummaries.txt')

2019-06-12 22:04:31,687 data_manipulation.data INFO     Called loadAndClean function
2019-06-12 22:04:31,693 data_manipulation.data INFO     Read in booksummary data
2019-06-12 22:04:32,427 data_manipulation.data INFO     Drop any NA's present in dataset under book genre or plot summary
2019-06-12 22:04:33,044 data_manipulation.data INFO     returning booksummary data set

In [4]:
books = books[['bookGenre', 'plotSum']]

In [5]:
books.head(1)

,bookGenre,plotSum
0,"[roman_à_clef, satire, childrens_literature, s...","Old Major, the old boar on the Manor Farm, ca..."

In [6]:
books.shape[0]

12841

There are 12841 books in the data set with many genres and genre combinations. This notebook will attempt to trim down the genres to a small number (5-10) of unique categories, and possibly excise any books which don't fit into these categories.

In [7]:
corpus = list(books.bookGenre.apply(lambda row: row))
corpus[:1]

[['roman_à_clef',
  'satire',
  'childrens_literature',
  'speculative_fiction',
  'fiction']]

In [8]:
N = len(corpus)
N

12841

The corpus is the body of all of my documents, in this case a document is a list of strings which are the genre labels for each book. As you can see, the corpus has the same length as the # of books I have.

In [9]:
te = TransactionEncoder()
te_ary = te.fit(corpus).transform(corpus)
te_df = pd.DataFrame(te_ary, columns=te.columns_)

## Genre Consolidation

In [10]:
genres = list(te_df.columns)

In [11]:
len(genres)

227

The above cell shows that there are 227 unique genres which I need to pare down. The first step will be to standardize a lot of these, like turning zombies_in_pop_culture to zombie, and then the next step will be rolling things up into a smaller number of categories, like zombie --> horror.

In [12]:
books.bookGenre = corpus

In [13]:
books.head(3)

,bookGenre,plotSum
0,"[roman_à_clef, satire, childrens_literature, s...","Old Major, the old boar on the Manor Farm, ca..."
1,"[science_fiction, novella, speculative_fiction...","Alex, a teenager living in near-future Englan..."
2,"[existentialism, fiction, absurdist_fiction, n...",The text of The Plague is divided into five p...

In [14]:
te = TransactionEncoder()
te_ary = te.fit(corpus).transform(corpus)
te_df = pd.DataFrame(te_ary, columns=te.columns_)

In [15]:
frequent_itemsets = apriori(te_df, min_support=0.0001, use_colnames=True)
frequent_itemsets['Abs_support'] = frequent_itemsets.support * N

In [16]:
frequent_itemsets.head(2)

    support             itemsets  Abs_support
0  0.002258  (absurdist_fiction)         29.0
1  0.001791          (adventure)         23.0

In [17]:
frequent_itemsets['num_of_genres'] = frequent_itemsets.itemsets.apply(lambda row: len([i for i in range(len(row))]))

In [18]:
frequent_itemsets.Abs_support.sum()

100241.0

Now we have a dataframe that we can see all the combinations and how often they occur. This will help us make the rules to classify our multi-genre labels into fewer genres.

In [19]:
pd.set_option('display.max_colwidth', 150)
frequent_itemsets.sort_values(by='Abs_support', ascending=False)[frequent_itemsets.num_of_genres > 2].head(50)

/anaconda3/envs/AVC/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,support,itemsets,Abs_support,num_of_genres
2614,0.077876,"(fiction, speculative_fiction, science_fiction)",1000.0,3
2216,0.073748,"(fiction, speculative_fiction, fantasy)",947.0,3
2514,0.048049,"(mystery, fiction, suspense)",617.0,3
1727,0.043455,"(childrens_literature, fiction, speculative_fiction)",558.0,3
2335,0.043377,"(fantasy, speculative_fiction, science_fiction)",557.0,3
2212,0.039171,"(fiction, fantasy, science_fiction)",503.0,3
4094,0.036835,"(fiction, speculative_fiction, fantasy, science_fiction)",473.0,4
1683,0.036212,"(childrens_literature, fantasy, speculative_fiction)",465.0,3
1664,0.026556,"(childrens_literature, fiction, fantasy)",341.0,3
3485,0.024609,"(childrens_literature, fiction, speculative_fiction, fantasy)",316.0,4
1961,0.023986,"(mystery, fiction, crime_fiction)",308.0,3
2923,0.021649,"(novel, speculative_fiction, science_fiction)",278.0,3
2540,0.020949,"(novel, fiction, speculative_fiction)",269.0,3
1989,0.020793,"(mystery, suspense, crime_fiction)",267.0,3
1817,0.020715,"(childrens_literature, speculative_fiction, science_fiction)",266.0,3
1967,0.019936,"(crime_fiction, fiction, suspense)",256.0,3
3790,0.019391,"(mystery, fiction, suspense, crime_fiction)",249.0,4
2458,0.019391,"(fiction, speculative_fiction, horror)",249.0,3
1722,0.018690,"(childrens_literature, fiction, science_fiction)",240.0,3
3608,0.016977,"(childrens_literature, fiction, speculative_fiction, science_fiction)",218.0,4
2511,0.015887,"(mystery, fiction, speculative_fiction)",204.0,3
1740,0.015186,"(childrens_literature, fiction, young_adult_literature)",195.0,3
2640,0.013395,"(fiction, speculative_fiction, suspense)",172.0,3
2269,0.010825,"(fantasy, speculative_fiction, horror)",139.0,3
2888,0.010669,"(mystery, speculative_fiction, suspense)",137.0,3
2516,0.010435,"(thriller, mystery, fiction)",134.0,3
2536,0.010357,"(novel, fiction, science_fiction)",133.0,3
1681,0.010280,"(childrens_literature, fantasy, science_fiction)",132.0,3
4441,0.009968,"(mystery, fiction, speculative_fiction, suspense)",128.0,4
3521,0.009734,"(childrens_literature, fantasy, speculative_fiction, science_fiction)",125.0,4
2503,0.009734,"(mystery, fiction, novel)",125.0,3
2660,0.009501,"(thriller, fiction, suspense)",122.0,3
3483,0.009423,"(childrens_literature, fiction, fantasy, science_fiction)",121.0,4
1708,0.009345,"(childrens_literature, novel, fiction)",120.0,3
2193,0.009189,"(fiction, fantasy, horror)",118.0,3
2056,0.009034,"(mystery, fiction, detective_fiction)",116.0,3
2542,0.008956,"(novel, fiction, suspense)",115.0,3
4040,0.008878,"(fiction, speculative_fiction, fantasy, horror)",114.0,4
4928,0.008878,"(science_fiction, fiction, fantasy, childrens_literature, speculative_fiction)",114.0,5
4467,0.008800,"(novel, fiction, speculative_fiction, science_fiction)",113.0,4
1839,0.008722,"(childrens_literature, speculative_fiction, young_adult_literature)",112.0,3
1705,0.008722,"(childrens_literature, mystery, fiction)",112.0,3
2653,0.008566,"(young_adult_literature, fiction, speculative_fiction)",110.0,3
2410,0.008488,"(historical_novel, historical_fiction, fiction)",109.0,3
2806,0.008488,"(horror, speculative_fiction, science_fiction)",109.0,3
2897,0.007943,"(thriller, mystery, suspense)",102.0,3
2861,0.007554,"(mystery, novel, suspense)",97.0,3
4448,0.007554,"(thriller, mystery, fiction, suspense)",97.0,4
2643,0.007320,"(thriller, fiction, speculative_fiction)",94.0,3
3628,0.007242,"(childrens_literature, fiction, speculative_fiction, young_adult_literature)",93.0,4