In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from data import data

    support                     itemsets  Abs_support
0       0.8                       (Eggs)          4.0
1       1.0               (Kidney Beans)          5.0
2       0.6                       (Milk)          3.0
3       0.6                      (Onion)          3.0
4       0.6                     (Yogurt)          3.0
5       0.8         (Eggs, Kidney Beans)          4.0
6       0.6                (Eggs, Onion)          3.0
7       0.6         (Milk, Kidney Beans)          3.0
8       0.6        (Onion, Kidney Beans)          3.0
9       0.6       (Yogurt, Kidney Beans)          3.0
10      0.6  (Eggs, Onion, Kidney Beans)          3.0

In [5]:
books = data.loadAndClean('../../data/booksummaries/booksummaries.txt')

In [6]:
books = books[['bookGenre', 'plotSum', 'bookTitle']]

In [10]:
corpus = list(books.bookGenre.apply(lambda row: row))
corpus[:1]

[['roman_Ã _clef',
  'satire',
  'childrens_literature',
  'speculative_fiction',
  'fiction']]

In [12]:
N = len(corpus)

te = TransactionEncoder()
te_ary = te.fit(corpus).transform(corpus)
df = pd.DataFrame(te_ary, columns=te.columns_)
df.head(5)

,absurdist_fiction,adventure,adventure_novel,albino_bias,alien_invasion,alternate_history,american_gothic_fiction,anthology,anthropology,anti-nuclear,...,vampire_fiction,war_novel,western,western_fiction,whodunit,wuxia,young_adult_literature,youth,zombie,zombies_in_popular_culture
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False

In [13]:
frequent_itemsets = apriori(df, min_support=0.0001, use_colnames=True)
frequent_itemsets['Abs_support'] = frequent_itemsets.support * N

       support                                           itemsets  Abs_support
0     0.002258                                (absurdist_fiction)         29.0
1     0.001791                                        (adventure)         23.0
2     0.025699                                  (adventure_novel)        330.0
3     0.000156                                      (albino_bias)          2.0
4     0.017600                                (alternate_history)        226.0
5     0.000467                                        (anthology)          6.0
6     0.000312                                     (anthropology)          4.0
7     0.004361         (apocalyptic_and_post-apocalyptic_fiction)         56.0
8     0.005996                           (autobiographical_novel)         77.0
9     0.009657                                    (autobiography)        124.0
10    0.003271                                    (bildungsroman)         42.0
11    0.000935                               (biographical_novel)         12.0
12    0.007943                                        (biography)        102.0
13    0.000156                                          (biopunk)          2.0
14    0.002959                                     (black_comedy)         38.0
15    0.001246                                         (business)         16.0
16    0.000389                                     (campus_novel)          5.0
17    0.000234                          (catastrophic_literature)          3.0
18    0.000857                                        (chick_lit)         11.0
19    0.165252                             (childrens_literature)       2122.0
20    0.001168                                (chivalric_romance)         15.0
21    0.011292                                           (comedy)        145.0
22    0.000156                                (comedy_of_manners)          2.0
23    0.000779                                       (comic_book)         10.0
24    0.000389                                    (comic_fantasy)          5.0
25    0.008099                                      (comic_novel)        104.0
26    0.000545                            (comic_science_fiction)          7.0
27    0.000467                                           (comics)          6.0
28    0.000312                                    (coming_of_age)          4.0
29    0.000312                               (conspiracy_fiction)          4.0
...        ...                                                ...          ...
5732  0.000156  (science_fiction, dystopia, young_adult_litera...          2.0
5733  0.000156  (science_fiction, fantasy, childrens_literatur...          2.0
5734  0.000156  (mystery, science_fiction, fantasy, childrens_...          2.0
5735  0.000312  (mystery, science_fiction, childrens_literatur...          4.0
5736  0.000156  (mystery, young_adult_literature, paranormal_r...          2.0
5737  0.000156  (mystery, science_fiction, epistolary_novel, f...          2.0
5738  0.000156  (mystery, epistolary_novel, fantasy, gothic_fi...          2.0
5739  0.000156  (science_fiction, epistolary_novel, fantasy, g...          2.0
5740  0.000156  (mystery, science_fiction, epistolary_novel, f...          2.0
5741  0.000156  (mystery, science_fiction, epistolary_novel, f...          2.0
5742  0.000156  (mystery, science_fiction, epistolary_novel, f...          2.0
5743  0.000156  (mystery, science_fiction, epistolary_novel, g...          2.0
5744  0.000156  (mystery, science_fiction, epistolary_novel, s...          2.0
5745  0.000234  (mystery, science_fiction, fantasy, gothic_fic...          3.0
5746  0.000234  (mystery, fantasy, hardboiled, suspense, ficti...          3.0
5747  0.000156  (mystery, fantasy, paranormal_romance, fiction...          2.0
5748  0.000156  (mystery, fantasy, suspense, fiction, romance_...          2.0
5749  0.000312  (mystery, science_fiction, fantasy, suspense, ...          4.0
5750  0.000234  (mystery, fantasy, thriller, suspense, fiction...          3.0
5751  0.000312  (mystery, science_fiction, fantasy, suspense, ...          4.0
5752  0.000234  (mystery, science_fiction, fantasy, thriller, ...          3.0
5753  0.000234  (mystery, science_fiction, fantasy, thriller, ...          3.0
5754  0.000234  (mystery, fantasy, thriller, suspense, fiction...          3.0
5755  0.000389  (mystery, science_fiction, fantasy, thriller, ...          5.0
5756  0.000234  (science_fiction, fantasy, thriller, suspense,...          3.0
5757  0.000234  (mystery, science_fiction, fantasy, thriller, ...          3.0
5758  0.000156  (mystery, science_fiction, thriller, suspense,...          2.0
5759  0.000234  (mystery, science_fiction, thriller, suspense,...          3.0
5760  0.000156  (mystery, science_fiction, epistolary_novel, f...          2.0
5761  0.000234  (mystery, science_fiction, fantasy, thriller, ...          3.0

[5762 rows x 3 columns]

In [54]:
frequent_itemsets['num_of_genres'] = frequent_itemsets.itemsets.apply(lambda row: len([i for i in range(len(row))]))

In [66]:
pd.set_option('display.max_colwidth', 150)
frequent_itemsets.sort_values(by='Abs_support', ascending=False)[frequent_itemsets.num_of_genres > 2].head(20)

/anaconda3/envs/AVC/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

       support                                                               itemsets  Abs_support  num_of_genres
2614  0.077876                        (science_fiction, fiction, speculative_fiction)       1000.0              3
2216  0.073748                                (fiction, speculative_fiction, fantasy)        947.0              3
2514  0.048049                                           (mystery, suspense, fiction)        617.0              3
1727  0.043455                   (fiction, childrens_literature, speculative_fiction)        558.0              3
2335  0.043377                        (science_fiction, speculative_fiction, fantasy)        557.0              3
2212  0.039171                                    (science_fiction, fiction, fantasy)        503.0              3
4094  0.036835               (science_fiction, fiction, speculative_fiction, fantasy)        473.0              4
1683  0.036212                   (childrens_literature, speculative_fiction, fantasy)        465.0              3
1664  0.026556                               (childrens_literature, fiction, fantasy)        341.0              3
3485  0.024609          (fiction, childrens_literature, speculative_fiction, fantasy)        316.0              4
1961  0.023986                                      (mystery, crime_fiction, fiction)        308.0              3
2923  0.021649                          (science_fiction, novel, speculative_fiction)        278.0              3
2540  0.020949                                  (speculative_fiction, novel, fiction)        269.0              3
1989  0.020793                                     (mystery, crime_fiction, suspense)        267.0              3
1817  0.020715           (science_fiction, childrens_literature, speculative_fiction)        266.0              3
1967  0.019936                                     (crime_fiction, suspense, fiction)        256.0              3
3790  0.019391                            (mystery, crime_fiction, suspense, fiction)        249.0              4
2458  0.019391                                 (fiction, horror, speculative_fiction)        249.0              3
1722  0.018690                       (science_fiction, childrens_literature, fiction)        240.0              3
3608  0.016977  (science_fiction, fiction, childrens_literature, speculative_fiction)        218.0              4

Now we have a dataframe that we can see all the combinations and how often they occur. This will help us make the rules to classify our multi-genre labels into fewer genres.