In [1]:
import sys; sys.path.append('../../src/helpers')
from data_manipulation import data
from data_manipulation import custom_transformers as ct
import pandas as pd

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/nathanfranklin/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/nathanfranklin/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
books = data.loadAndClean('../../data/booksummaries/booksummaries.txt')
books = books[['bookGenre', 'plotSum']]

2019-06-12 22:11:53,976 data_manipulation.data INFO     Called loadAndClean function
2019-06-12 22:11:53,978 data_manipulation.data INFO     Read in booksummary data
2019-06-12 22:11:54,665 data_manipulation.data INFO     Drop any NA's present in dataset under book genre or plot summary
2019-06-12 22:11:55,283 data_manipulation.data INFO     returning booksummary data set

In [3]:
books.head(3)

,bookGenre,plotSum
0,"[roman_à_clef, satire, childrens_literature, s...","Old Major, the old boar on the Manor Farm, ca..."
1,"[science_fiction, novella, speculative_fiction...","Alex, a teenager living in near-future Englan..."
2,"[existentialism, fiction, absurdist_fiction, n...",The text of The Plague is divided into five p...

In [4]:
tokenizer = ct.Tokenizer()
tokenized_books = tokenizer.transform(books)
tokenized_books.head(3)

2019-06-12 22:11:55,337 data_manipulation.custom_transformers INFO     Calling the Tokenizer transformer

,bookGenre,plotSum
0,"[roman_à_clef, satire, childrens_literature, s...","[Old, Major, ,, the, old, boar, on, the, Manor..."
1,"[science_fiction, novella, speculative_fiction...","[Alex, ,, a, teenager, living, in, near-future..."
2,"[existentialism, fiction, absurdist_fiction, n...","[The, text, of, The, Plague, is, divided, into..."

In [5]:
filterer_of_sentences = ct.Filter_sentence()

In [6]:
tokened_and_filtered_summaries = filterer_of_sentences.transform(tokenized_books)

2019-06-12 22:12:39,727 data_manipulation.custom_transformers INFO     Calling the filter sentence transformer

In [7]:
tokened_and_filtered_summaries.head(3)

,bookGenre,plotSum
0,"[roman_à_clef, satire, childrens_literature, s...","[old, major, old, boar, manor, farm, calls, an..."
1,"[science_fiction, novella, speculative_fiction...","[alex, teenager, living, nearfuture, england, ..."
2,"[existentialism, fiction, absurdist_fiction, n...","[text, plague, divided, five, parts, town, ora..."

In [8]:
porter = ct.StemmingLemming(prune_type="Porter")
portered_books = porter.transform(tokened_and_filtered_summaries)

2019-06-12 22:13:53,577 data_manipulation.custom_transformers INFO     Calling the StemmingLemming transformer

In [9]:
portered_books.head(3)

,bookGenre,plotSum
0,"[roman_à_clef, satire, childrens_literature, s...","[old, major, old, boar, manor, farm, call, ani..."
1,"[science_fiction, novella, speculative_fiction...","[alex, teenag, live, nearfutur, england, lead,..."
2,"[existentialism, fiction, absurdist_fiction, n...","[text, plagu, divid, five, part, town, oran, t..."

In [10]:
joiner_transformer = ct.Joiner()
joined_books = joiner_transformer.transform(portered_books)
joined_books.head(3)

2019-06-12 22:15:26,140 data_manipulation.custom_transformers INFO     Calling the Joiner transformer

,bookGenre,plotSum
0,"[roman_à_clef, satire, childrens_literature, s...",old major old boar manor farm call anim farm m...
1,"[science_fiction, novella, speculative_fiction...",alex teenag live nearfutur england lead gang n...
2,"[existentialism, fiction, absurdist_fiction, n...",text plagu divid five part town oran thousand ...